@model  Merchandising.VM.Portal.UserVM
@{
    ViewBag.Title = "User | Details";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <h2>Users</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Home_Index", "Home")">Home</a>
                </li>
                <li>
                    <a>Administration</a>
                </li>
                <li>
                    <a>Set-Up</a>
                </li>
                <li>
                    <a>General</a>
                </li>
                <li class="active">
                    <strong>Users</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="title-action">
                <button type="button" class="btn btn-outline btn-rounded btn-warning" onclick="location.href='@Url.Action("Edit", "Users",new { id=Model.Users.UserId})'"><i class="fa fa-pencil-square"></i> Edit</button>
                <button type="button" class="btn btn-outline btn-rounded btn-danger" onclick="location.href='@Url.Action("Index", "Users")'"><i class="fa fa-home"></i> Home</button>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-heading">
            <div class="ibox-content">
                <h3>Create User</h3>
            </div>
        </div>
        <div class="ibox-content m-b-sm border-bottom">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Users.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Users.UserId, new { htmlAttributes = new { @class = "form-control", id = "userid", @disabled = "true" } })
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Users.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Users.UserName, new { htmlAttributes = new { @class = "form-control", id = "username", @disabled = "true" } })
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>  
                <div class="form-group">
                    @Html.LabelFor(model => model.Users.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Users.Email, new { htmlAttributes = new { @class = "form-control", id = "email", @disabled = "true" } })
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Users.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Users.ContactNo, new { htmlAttributes = new { @class = "form-control", id = "contact", @disabled = "true" } })
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AccessRoleOption, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.Users.Role, new SelectList(Model.AccessRoleOption, "Value", "Text"), "- Please select your role -", new { @class = "form-control", @id = "role", @disabled = "true" })
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BranchOption, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.Users.BranchCode, new SelectList(Model.BranchOption, "Value", "Text"), "- Please select branch -", new { @class = "form-control", @id = "branch", @disabled = "true" })
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Users.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.Users.Status, new SelectList(Model.StatusOption, "Value", "Text"), "- Please select status -", new { @class = "form-control", @id = "status", @disabled = "true" })
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    <link href="~/Content/plugins/sweetalert/sweetalert2.css" rel="stylesheet" />
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/chosen")
    <script src="~/Scripts/plugins/sweetalert/sweetalert2.min.js"></script>
}
