@model Merchandising.VM.Portal.BusinessPartnerVM
@{
    ViewBag.Title = "Business Partner";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-7 col-md-7 col-lg-7">
        <h2>Business Partner</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Home_Index", "Home")">Home</a>
            </li>
            <li>
                <a>Master Lists</a>
            </li>
            <li class="active">
                <strong>Business Partner</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-heading">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-horizontal">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <h3>List of Business Partner</h3>
                            </div>
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-outline btn-rounded btn-primary" onclick="location.href='@Url.Action("Index", "BusinessPartner")'"><i class="fa fa-refresh"></i> Refresh</button>
                                    <button type="button" class="btn btn-outline btn-rounded btn-primary" id="add"><i class="fa fa-plus-circle"></i> Create New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-horizontal">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtsearch" placeholder="Search" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div id="demoContent">
                    @{
                        var linkFormat = "<a id='doc_.(CardCode)' class='view_doc'>.(CardCode)</a>";
                        var linkIconFormat = "<button type='button' id='doc_.(CardCode)' class='edit_doc btn btn-warning'><i class='fa fa-pencil'></i></button>&nbsp;&nbsp;";
                        linkIconFormat += "<a id='doc_.(CardCode)' class='cancel_doc btn btn-danger'><i class='fa fa-trash'></i></a>";
                    }
                    @(Html.Awe().Grid("ApiDemoGrid")
                        .Columns(new[]
                        {
                    new Column{ClientFormat= linkIconFormat, Width = 120},
                    new Column {Bind = "CardCode", Header = "Card Code",ClientFormat = linkFormat},
                    new Column {Bind = "CardName", Header = "Card Name",Width=200  },
                    new Column {Bind = "BpType", Header = "BP Type"  },
                    new Column {Bind = "Address", Header = "Address",Width=300  },
                    new Column {Bind = "ContactNumber", Header = "Contact Number"  },
                    new Column {Bind = "Email", Header = "Email",Width=200  },
                    new Column {Bind = "Balance", Header = "Balance"  },
                    new Column {Bind = "Status", Header = "Status", ClientFormatFunc = "Statustoggle", Width = 90}
                        })
                        .Mod(o => o.PageInfo().PageSize().ColumnsSelector())
                        .Resizable()
                        .Reorderable()
                        .Height(400)
                        .Groupable(false)
                        .Selectable(SelectionType.Single)
                        .Parent("filter", "filter")
                        .Parent("txtsearch", "search")
                        .Url(Url.Action("GetList", "BusinessPartner")))

                </div>
            </div>
        </div>
    </div>
</div>

<!--Business Partner details-->
<div class="modal fade" id="MyModalBusinessPartner">
    <div class="modal-dialog modal-lg" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">Create Business Partner</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BPTypeOption, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    @Html.DropDownListFor(model => model.BPTypeOption, new SelectList(Model.BPTypeOption, "Value", "Text"), "", new { @class = "form-control chosen-select", @id = "bptype" })
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SeriesOption, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    @Html.DropDownListFor(model => model.SeriesOption, new SelectList(Model.SeriesOption, "Value", "Text"), "", new { @class = "form-control chosen-select", @id = "series" })
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    @Html.EditorFor(model => model.BusinessPartner.CardCode, new { htmlAttributes = new { @class = "form-control text-uppercase", id = "cardcode", @readonly = "true" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessPartner.CardName, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.EditorFor(model => model.BusinessPartner.CardName, new { htmlAttributes = new { @class = "form-control text-uppercase", id = "cardname" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BPGroupOption, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.DropDownListFor(model => model.BPGroupOption, new SelectList(Model.BPGroupOption, "Value", "Text"), "", new { @class = "form-control chosen-select", @id = "bpgroup" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessPartner.Tin, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.EditorFor(model => model.BusinessPartner.Tin, new { htmlAttributes = new { @class = "form-control", id = "tin" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.VATOption, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.DropDownListFor(model => model.BusinessPartner.VatCode, new SelectList(Model.VATOption, "Value", "Text"), "", new { @class = "form-control chosen-select", @id = "vat" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label>WTax</label>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="checkbox checkbox-success checkbox-circle">
                                        <input id="enablewtax" type="checkbox">
                                        <label for="checkbox8">

                                        </label>
                                    </div>
                                    @*@Html.CheckBoxFor(model => model.BusinessPartner.WithWTax, htmlAttributes: new { @id = "enablewtax", @class = "js-switch2" })*@
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <button type="button" class="btn btn-outline btn-primary pull-right" id="wtax">...</button>
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label>Address</label>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input type="text" id="addressdisplay" class="form-control text-left" style="text-transform:uppercase" readonly />
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <button type="button" class="btn btn-outline btn-primary pull-right" id="address">...</button>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessPartner.ContactPerson, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.EditorFor(model => model.BusinessPartner.ContactPerson, new { htmlAttributes = new { @class = "form-control text-uppercase", id = "contactperson" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-outline btn-rounded btn-warning" id="viewtrans">View Transactions</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessPartner.Balance, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.EditorFor(model => model.BusinessPartner.Balance, new { htmlAttributes = new { @class = "form-control", id = "balance", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessPartner.ContactNumber, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.EditorFor(model => model.BusinessPartner.ContactNumber, new { htmlAttributes = new { @class = "form-control", id = "contactnumber" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessPartner.Email, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.EditorFor(model => model.BusinessPartner.Email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PriceListOption, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.DropDownListFor(model => model.PriceListOption, new SelectList(Model.PriceListOption, "Value", "Text"), "", new { @class = "form-control chosen-select", @id = "pricelist" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PaymentTermsOption, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    @Html.DropDownListFor(model => model.PaymentTermsOption, new SelectList(Model.PaymentTermsOption, "Value", "Text"), "", new { @class = "form-control chosen-select", @id = "paymentterm" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessPartner.Status, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <div class="checkbox checkbox-success checkbox-circle">
                                        <input id="status" type="checkbox">
                                        <label for="checkbox8">

                                        </label>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.BusinessPartner.Remarks, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        @Html.EditorFor(model => model.BusinessPartner.Remarks, new { htmlAttributes = new { @class = "form-control", id = "remarks" } })
                                    </div>
                                </div>*@
                            <div class="form-group md-form">
                                <div class="control-label col-xs-3 col-sm-3 col-md-3 col-lg3">
                                    <label>Remarks</label>
                                </div>
                                <div class="control-label col-xs-9 ol-sm-9 col-md-9 col-lg-9">
                                    <textarea id="remarks" class="md-textarea form-control text-uppercase" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-outline btn-rounded btn-primary" id="businesspartner">Add Business Partner</button>
                                        @*<button type="button" class="btn btn-outline btn-rounded btn-warning" id="clear">Clear</button>*@
                                        <button type="button" class="btn btn-outline btn-rounded btn-danger" id="close">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--BP Address Details-->
<div class="modal fade" id="MyModalBPAddress">
    <div class="modal-dialog" style="width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">BP Address</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label>Block</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="block" class="form-control" style="text-transform:uppercase" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label>Street</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="street" class="form-control" style="text-transform:uppercase" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProvincesOption, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            @Html.DropDownListFor(model => model.BpAddress.ProvId, new SelectList(Model.ProvincesOption, "Value", "Text"), "", new { @class = "form-control chosen-select", @id = "province" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CitiesOption, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3 col-lg-3" })
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            @Html.DropDownListFor(model => model.BpAddress.CityId, new SelectList(Model.CitiesOption, "Value", "Text"), "", new { @class = "form-control chosen-select", @id = "city" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label>Country</label>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="country" class="form-control" style="text-transform:uppercase" value="PHILIPPINES" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-sm btn-rounded btn-info" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--BP WTax Details-->
<div class="modal fade" id="MyModalBPWTax">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">List of WTax</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="table-responsive">

                            <div id="divForm" style="background-color:white;overflow:scroll;height:300px">
                                <table id="tableListWTax" class="footable table table-stripped table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">
                                                <div class="checkbox checkbox-warning checkbox-circle">
                                                    <input id="chkBpWTaxAll" onchange="checkAllBpWTax(this)" name="chk[]" type="checkbox">
                                                    <label for="checkbox8">
                                                    </label>
                                                </div>
                                            </th>
                                            <th><div style="width:100px">WTax Code</div></th>
                                            <th><div style="width:250px">WTax Name</div></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var wtax in Model.WTax)
                                        {
                                            <tr>
                                                <td style='text-align:center'>
                                                    <div class="checkbox checkbox-warning checkbox-circle">
                                                        <input id="chkBpWTax" type="checkbox">
                                                        <label for="checkbox8">

                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="hidden" value="@wtax.Code" id="wtaxcode" /> @wtax.Code
                                                </td>
                                                <td>
                                                    <input type="hidden" value="@wtax.Code" id="wtaxname" /> @wtax.Name
                                                </td>

                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-sm btn-rounded btn-info" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--BP Balance Details-->
<div class="modal fade" id="MyModalBPBalance">
    <div class="modal-dialog modal-lg" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">List of Documents (Detailed)</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="table-responsive">
                                
                            <div id="divForm" style="background-color:white;overflow:scroll;height:400px">
                                <table id="tableListBPBalance" class="footable table table-stripped table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th><div style="width:10px">#</div></th>
                                            <th><div style="width:150px">Document</div></th>
                                            <th><div style="width:100px">Status</div></th>
                                            <th><div style="width:150px">Total</div></th>
                                            <th><div style="width:150px">Gross Total</div></th>
                                            <th><div style="width:120px">Transaction Date</div></th>
                                            <th><div style="width:100px">Due Date</div></th>
                                            <th><div style="width:150px">Reference</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-sm btn-rounded btn-info" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/slickStyles")
    @Styles.Render("~/plugins/slickThemeStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/laddaStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    <link href="~/Content/plugins/sweetalert/sweetalert2.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-toggle.css" rel="stylesheet" />
}

@section Scripts{
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/slick")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/peity")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/ladda")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/touchSpin")
    <script src="~/Scripts/bootstap-toggle.js"></script>
    <script src="~/Scripts/plugins/sweetalert/sweetalert2.min.js"></script>
    <script src="~/Scripts/MerchandisingJS/BusinessPartner/BusinessPartner.js"></script>
}
<style>
    .boldh .awe-col, .boldh {
        color: blue;
    }

    .bluev {
        color: blueviolet;
    }

    .pinkb {
        background: pink !important;
    }

    .greenb {
        background: #f0f9f7 !important;
    }
</style>

